// Titre + Intro
@keyframes intro {
  from{
    transform: scale(5);
  }
  to{
    transform: scale(1);
  }
}

@keyframes introTexte{
  from{
    transform: scale(5);
  } 
  to{
    transform: scale(1);
  }
}

// Presentation
@keyframes contact {
  0%{
    opacity: 0;
    transform: scale(2);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

// SkillBox
@keyframes Animate-HTML {
    from {
    width: 10px;
  }
  to {
    width: 100%}
  }@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
  }
  to {
    width: 100%}
  }@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
  }
  to {
    width: 100%}
  }@-o-keyframes Animate-HTML {
    from {
    width: 10px;
  }
  to {
    width: 100%}
  }

  @keyframes Animate-CSS {
    from {
    width: 10px;
  }
  to {
    width: 100%}
  }@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
  }
  to {
    width: 100%}
  }@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
  }
  to {
    width: 100%}
  }@-o-keyframes Animate-CSS {
    from {
    width: 10px;
  }
  to {
    width: 100%}
  }

  @keyframes Animate-JS {
    from {
    width: 10px;
  }
  to {
    width: 65%}
  }@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
  }
  to {
    width: 65%}
  }@-moz-keyframes Animate-JS {
    from {
    width: 10px;
  }
  to {
    width: 65%}
  }@-o-keyframes Animate-JS {
    from {
    width: 10px;
  }
  to {
    width: 65%}
  }
  
  @keyframes Animate-Wordpress {
    from {
    width: 10px;
  }
  to {
    width: 85%}
  }@-webkit-keyframes Animate-Wordpress {
    from {
    width: 10px;
  }
  to {
    width: 85%}
  }@-moz-keyframes Animate-Wordpress {
    from {
    width: 10px;
  }
  to {
    width: 85%}
  }@-o-keyframes Animate-Wordpress {
    from {
    width: 10px;
  }
  to {
    width: 85%}
  }
  
  @keyframes Animate-Figma {
    from {
    width: 10px;
  }
  to {
    width: 80%}
  }@-webkit-keyframes Animate-Figma {
    from {
    width: 10px;
  }
  to {
    width: 80%}
  }@-moz-keyframes Animate-Figma {
    from {
    width: 10px;
  }
  to {
    width: 80%}
  }@-o-keyframes Animate-Figma {
    from {
    width: 10px;
  }
  to {
    width: 80%}
  }

  @keyframes Animate-SASS {
    from {
    width: 10px;
  }
  to {
    width: 85%}
  }@-webkit-keyframes Animate-SASS {
    from {
    width: 10px;
  }
  to {
    width: 85%}
  }@-moz-keyframes Animate-SASS {
    from {
    width: 10px;
  }
  to {
    width: 85%}
  }@-o-keyframes Animate-SASS {
    from {
    width: 10px;
  }
  to {
    width: 85%}
  }

  @keyframes Animate-ECommerce {
    from {
    width: 10px;
  }
  to {
    width: 50%}
  }@-webkit-keyframes Animate-ECommerce {
    from {
    width: 10px;
  }
  to {
    width: 50%}
  }@-moz-keyframes Animate-ECommerce {
    from {
    width: 10px;
  }
  to {
    width: 50%}
  }@-o-keyframes Animate-ECommerce {
    from {
    width: 10px;
  }
  to {
    width: 50%}
  }
  
  @keyframes Animate-VUE {
    from {
    width: 10px;
  }
  to {
    width: 60%}
  }@-webkit-keyframes Animate-VUE {
    from {
    width: 10px;
  }
  to {
    width: 60%}
  }@-moz-keyframes Animate-VUE {
    from {
    width: 10px;
  }
  to {
    width: 60%}
  }@-o-keyframes Animate-VUE {
    from {
    width: 10px;
  }
  to {
    width: 60%}
  }

